<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>index cart</h1>

            <% if @cart_items %>
                <ul>
                    <% @cart_items.each do |ci| %>
                        <li><%= ci.item.title %></li>    
                    <% end %>
                </ul>
            <% else %>
                <h3>No items</h3>
            <% end %>
        </div>
    </div>
</div>
