<!DOCTYPE html>
<html>
<head>
	<title>Show Item</title>
</head>
<body>

	<h1>Welcome to Chattons</h1>
  <table class="table table-hover table-bordered ">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <!-- <th scope="col">Location</th>
        <th scope="col">Joindre l'évenement</th>  -->
      </tr>
    </thead>
    <tbody>
      <% @item.each do |content|%>
        <tr class="table-secondary">
          <td><%= link_to content.title, item_path(content.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table> 
</body>
</html>