.modal-body, .modal-header, .modal-footer {
    background: #d795d2;
    color: #fff;
    font-weight: bold;
}


.signin-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
