<nav class="navbar navbar-expand-md navbar-dark fixed-top newColorPurple text-white">
    <a href="#" class="text-white navbar-brand">
        <i class="fas fa-cat"></i> Cat Store
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation " type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto menu ">
            <li class="nav-item active">
                <a href="#" class="nav-link"> Chats</a>
            </li>
        </ul>

        

        <form class="form-inline mt-2 mt-md-0">
            <a class="text-white nav-link" href="cart.html">
                <i class="text-warning fas fa-shopping-cart"> </i> Shopping Cart
                <i style="color: yellow; " id="cart_n"></i>
            </a>

            <div class="dropdown">
                <ul class="dropdown-menu">
                    <li style="text-align: center;">Connexion</li>
                    <li><div class="dropdown-divider"></div></li>
                    <li id="log-in" data-toggle="modal" data-target="#signinModal">
                        <span>Log In</span>
                    </li>
                    <li id="sign-up" data-toggle="modal" data-target="#signupModal">
                       <span>Sign Up</span>
                    </li>
                </ul>
            </div>
            <a data-toggle="dropdown" data-target="modalCenter" class="nav-link disable text-white dropdown-toggle" href="#" id="connexion-icon">
                <i class="far fa-user"></i>
            </a>
        </form>
    </div>
</nav>